body {
	margin: 0;
	padding: 0;
	color: #222222;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}
input[type=text], input[type=password], select, .fakefield, #popdialog a.listitem {
	border-radius: 0.5em;
	border: #bbbbbb solid 1px;
	font-size: 11pt;
	padding: 0.3em;
	color: #333;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f4f4), to(#ffffff));
	background: -webkit-linear-gradient(top, #ffffff, #f4f4f4);
	background: -moz-linear-gradient(top, #ffffff, #f4f4f4);
	background: -ms-linear-gradient(top, #ffffff, #f4f4f4);
	background: -o-linear-gradient(top, #ffffff, #f4f4f4);
}
a {
	text-decoration: none;
	color: #15c;
}
a:hover {
	text-decoration: underline;
}
#header {
	background-color: #f1f1f1;
	border-bottom: 1px solid #e5e5e5;
	min-width: 800px;
}
.content {
	padding: 15px;
	margin: auto;
	position: relative;
}
#header .content {
	font-size: 30px;
	font-weight: bold;
	color: #999;
	padding: 2px 15px;
}
#header .content a {
	float: right;
	font-size: 12px;
	color: #888;
	font-weight: normal;
}
.subtitle {
	font-size: 20px;
	padding: 10px 0 30px 0;
}
.panel {
	padding-bottom: 15px;
	overflow: auto;
}
.col3 {
	width: 18%;
	float: left;
	min-height: 100px;
}
.col2 {
	width: 50%;
	float: left;
	min-height: 100px;
}
.col6 {
	width: 66%;
	float: left;
	min-height: 100px;
}
.colhead {
	font-size: 14px;
}
.info {
	line-height: 18px;
	font-size: 13px
}
.info a {
	font-size: 13px;
}
#filters {
	background-color: #f1f1f1;
	border: 1px solid #e5e5e5;
	position: absolute;
	padding: 10px 25px 10px 15px;
	right: 0;
	top: 6em;
	background-image: url(../images/down-arrow.png);
	background-position: 98% center;
	background-repeat: no-repeat;
	cursor: pointer;
}
#affliatefilters {
	background-color: #f1f1f1;
	border: 1px solid #e5e5e5;
	position: absolute;
 //padding: 10px 25px 10px 15px;
	right: 0;
	top: 15px;
	background-image: url(../images/down-arrow.png);
	background-position: 98% center;
	background-repeat: no-repeat;
	cursor: pointer;
}
#filter_panel {
	position: absolute;
	right: 0;
	width: 600px;
	min-height: 100px;
	background-color: #fff;
	padding: 10px;
	border: 1px solid #e5e5e5;
	box-shadow: 1px 1px 3px #e5e5e5;
	overflow: auto;
	display: none;
}
#filter_panel_inner {
	position: relative;
	min-height: 100px;
	overflow: auto;
}
#filter_panel .col {
	width: 200px;
	float: left;
}
#filter_panel input.text {
	width: 80px;
}
#filter_panel select {
	width: 180px;
}
#filter_panel .colhead {
	font-size: 11px;
	text-align: center;
	text-transform: uppercase;
	color: #999;
	font-weight: bold;
	margin-bottom: 10px;
}
#filter_panel .subcol {
	width: 50%;
	float: left;
}
#filter_panel a {
	display: block;
	padding: 3px 0;
}
#filter_panel .buttons {
	padding-top: 15px;
	text-align: right
}
#filter_panel .buttons a {
	display: inline-block;
}
#filter_panel a.btn {
	background-color: #e5e5e5;
	display: inline-block;
	padding: 4px 10px;
	color: #000;
	border: #999 solid 1px;
	margin-right: 15px;
}
#filter_panel a.btn:hover {
	background-color: #f6f6f6;
	text-decoration: none;
}
#exporter {
	display: block;
	position: absolute;
	background-color: #093;
	color: #fff;
	padding: 5px 10px;
	right: 0;
	top: 10em;
}
.numbers {
	font-size: 28px;
	padding: 5px 0;
}
.green {
	color: #093;
}
.red {
	color: #dd4b39;
}
.grid {
	background-color: #e5e5e5;
}
.grid td {
	background-color: #fff;
}
.grid tr.head td {
	color: #666;
	font-weight: bold;
	background-color: #e5e5e5;
}
.grid tr.alt td {
 // background-color:#f6f6f6;
}
#legend {
	padding-top: 5px;
}
#legend a {
	display: inline-block;
	width: 12px;
	height: 16px;
	margin-left: 50px;
}
/*************** Date picker **************/
.ui-icon {
	background-image: url("../images/ui-icons_ffffff_256x240.png");
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.ui-datepicker .has-report a {
	background-color: #de4853;
	color: #fff;
}
.ui-datepicker-calendar a {
	color: #333;
}
.ui-datepicker-current-day a {
	border: #4792d9 solid 1px;
}
.ui-icon-circle-triangle-e {
	background-position: -48px -192px;
}
.ui-icon-circle-triangle-w {
	background-position: -80px -192px;
}
.ui-datepicker {
	width: 17em;
	border: #4792d9 solid 1px;
	background-color: #fff;
	display: none;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
	background-color: #4792d9;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
	color: #fff;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
	width: 45%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span, .ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: center;
	text-decoration: none;
}
.ui-datepicker td a:hover {
	background-color: #e5e5e5;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}
/********* login page ************/
#loginbox {
	width: 300px;
	margin: auto;
	margin-top: 50px;
	background-color: #f6f6f6;
	padding: 15px;
	border: 1px solid #e5e5e5
}
.exportertype {
	background-color: #093;
	color: #fff;
	padding: 10px;
	margin-right: 2em;
}
